venv/
__pycache__/
.ipynb_checkpoints/

ours/finetune/outputs/
ours/finetune/phone_ds/
ours/finetune/phone_model/
ours/finetune/zoom_ds/
ours/finetune/zoom_model/

# Unsloth compiled cache
ours/finetune/unsloth_compiled_cache/
ours/phone/unsloth_compiled_cache/
ours/zoom/unsloth_compiled_cache